$purple-color: #792ff0 ;
$blue-color: #53ACFF;
$yellow-color: #FFF367;
$white-color: #fff;
$black-color: #000;
$buttongradient: linear-gradient(90deg, rgba(2, 0, 36, 0.699) 0%, rgba(11,56,133,0.8099614845938375) 15%, rgba(205,156,208,1) 76%);